<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Abhinandan Portfolio</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navBar" style="">
                <a href="index.html"> home</a>
                <a href="blog.html">Blogs</a>
                <a href="projects.html">projects</a>
                <a href="contact.html">contact</a>
            </div>
        </div>
        
        <div class="nameBox">
            <img src="/static/images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg" alt="Error" class="dimension">
            <p class="nm">Abhinandan Kumar</p>
            <p class="course">Portfolio Website</p>
        </div>
        <div class="content">
            <h2>About</h2><br>
            <p>
                I am aspiring, hardworking ,consistent and a quick learner interested in any opportunity
                where i can contribute through my acquired skills and enhance them. I am also interested
                in learning new technologies .I am very organized and responsible, who can be trusted to 
                do any given task with accuracy and perfection.
            </p>
            <br><br>
            <h2>Experience</h2>
            <br>
            <p>1. Flipkart SCOA Intern</p><br>
            <p>2. Data Science Intern </p> (Associated With Ethical edifabrica Pvt.ltd ANTARAGNIIIT Kanpur )
            </h3>
            <br>
            <br>
            <h2>Licenses & certifications</h2><br>
            <p>1. Introduction to Packet Tracer (Cisco Networking Academy)</p>
            <br>
            <p>2. Machine Learning to Deep Learning: A Journey for Remote Sensing Data Classificatio<br> (Indian Institute of Remote Sensing (IIRS), Indian Space ResearcOrganization (ISRO))
            </p><br>
            
            <p>3. About Data Science <br>( Associated with Coursera by IBM)</p><br>
            
            <p>4. IT Essentials <br>(Cisco Networking Academy)</p><br>
            
            <p>5. Artificial Intelligence:  Responsible AI for Social Empowerment (RAISE2020) (Ministry of Electronics and Information Technology)</p>
            
            <br><br>
            <h2>Education</h2>
            <br>
            <p>Indian Institute of Technology Bombay <br>M.Tech pursue(CSE)</p> <br>
            <p>Motihari College of Engineering<br>B.Tech (CSE)</p><br>
            <p>A.N College, Patna<br>(Intermediate with PCM)</p><br>
            <p>Rajhans Public School<br>(Matriculation)</p>
            <br><br>

            <h2>Courses</h2>
            <p>(CS 699) Software lab</p>
            <p>(CS 601) Algorithm and Complexity</p>
            <p>(CS 725) Foundation of ML</p>
            <p>(CS 744) Design and Engineering of Computing System</p>
            <br>

            <h2>Position of Responsibility</h2>
            <p>Ex-Startup Student Coordinator
                (Startup Bihar Under Dept. of Industried Govt.of Bihar)</p>
            <br>

            <h2>Skills</h2>
            <br>
            <p>1. C/C++</p>
            <p>2. Html</p>
            <p>3. CSS</p>
            <p>4. Machine learning</p>
            <p>5. Data Analysis</p>
            <P>6. Excel/Powerpoint</P>
            <br>

            <h2>Projects</h2>
            <br>
            <p>1. Sign Language to Voice Translator</p>
            <p>2. Medicinal Plants Identification using ML</p>
            <p>3. Smart Dustbin for Economic Growth using Arduino (IOT based)</p>
            <p>4. Covid 19 Cases Analysis & Predication</p>
            <p>5. IPL Match Data Analysis</p>
            <p>6. Heart Disease Prediction using ML in Data Science</p>
            
            <br>
        

            <h2>Achievement</h2><br>
            <p>2nd Prize winner in the Bihar Startup Ideathon challenge organized under Industrial Department Govt. of Bihar</p>
            <p>First round shortlist achieved in the Bihar Innovation Challenge-2023</p>

            <div class="footer">
                <h2>All rights reserved by Abhinandan Kumar</h2>
            </div>
        </div>
    </div>
</body>
</html>