<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Abhinandan Portfolio</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navBar">
                <a href="index.html"> home</a>
                <a href="blog.html">Blogs</a>
                <a href="projects.html">projects</a>
                <a href="contact.html">contact</a>
            </div>
        </div>
        <div class="nameBox">
            <img src="/static/images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg" alt="Error" class="dimension">
            <p class="nm">Abhinandan Kumar</p>
            <p class="course">Portfolio Website</p>
        </div>

        <div class="titleBox">
            <h2>Projects</h2>
        </div>

        <div class="projects">
            <h3>1.Sign Language to Voice Translator</h3> <br>
            <h3>2.Medicinal Plants Identification using ML</h3><br>
            <h3>3. Heart Disease Prediction using ML in Data Science</h3><br>
            <h3>4. Smart Dustbin for Economic Growth using Arduino (IOT based)</h3><br>
            <h3>5. Covid 19 Cases Analysis & Predication</h3><br>
            <h3>6. IPL Match Data Analysis</h3><br><br>
        </div>


        <div class="footer">
            <h2>All rights reserved by Abhinandan Kumar</h2>
        </div>

    </div>
</body>
</html>